apiVersion: v1
kind: Service
metadata:
  name: load-tester
spec:
  type: {{ .Values.service.type }} 
  ports:
  - port: {{ .Values.service.port }}
    targetPort: 8080
  selector:
    app: load-tester
