replicaCount: 2

image:
  repository: ghcr.io/oleksii-kryvoruchko/devops-playground
  tag: bc52e449a338710d4feb65bc57b5f1b32d19e1be
  pullPolicy: IfNotPresent

ingress:
  enabled: true
  hosts:
    - host: load-tester.local

service:
  type: ClusterIP
  port: 8080

resources:
  requests:
    memory: 128Mi
    cpu: 100m
  limits:
    memory: 1Gi
    cpu: 1000m

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80 
  targetMemoryUtilizationPercentage: 80
